.Dogs {

  &-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.Dog {

  &-wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 12rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
    margin: .5rem auto;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #333;
    color: #fff;
    line-height: 2rem;

    & > * {
      margin: 0 .5rem;
    }
  }

  &-body {
    flex-grow: 1;
    align-self: center;
    padding: .5rem;
  }

  &-footer {
    background: #333;
    color: #fff;
    text-align: center;
  }

  &-breed {
    font-style: italic;
    font-size: .9rem;
  }

  &-action {
    margin: 0 auto;
    line-height: 2rem;
  }
}